{% extends 'main.html' %}


{% block content %}
<form>
  <center>
    <div class="form-group" style="width: 300px">
      <label for="exampleInputEmail1">логин</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group" style="width: 300px">
      <label for="exampleInputPassword1">пароль</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">зарегистрироваться</button>
  </center>
</form>
{% endblock %}